<div class="container" *ngIf="session.Sucesso">
    <div class="topo">
        <div class="bts">
            <button type="button" matTooltip="Novo" [ngClass]="aplicarCssBt(1)" (click)="newItem()"> <i class="fa fa-plus" aria-hidden="true"></i> </button>
            <button type="submit" matTooltip="Salvar" [ngClass]="aplicarCssBt(2)" (click)="saveItem()" [disabled]="!formulario.valid" form="form01"> <i class="fa fa-floppy-o"></i> </button>
            <button type="button" matTooltip="Anterior" [ngClass]="aplicarCssBt(3)" (click)="prev()"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </button>
            <button type="button" matTooltip="Delete" [ngClass]="aplicarCssBt(4)" (click)="delItem()"> <i class="fa fa-times"></i> </button>
            <button type="button" matTooltip="Resete" [ngClass]="aplicarCssBt(5)" (click)="resetItem()"> <i class="fa fa-repeat"></i> </button>
        </div>
        <div class="load">
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div [ngClass]="aplicarCssTela(1)">
        <div class="area-1">
            <div class="formulario">
                <form [formGroup]="formulario1">
                    <div class="form-field">
                        <label>Descrição</label>
                        <input type="text" formControlName="Descricao">
                    </div>
                    <div class="form-field">
                        <label>Data Inicial</label>
                        <input type="date" formControlName="DataI">
                    </div>
                    <div class="form-field">
                        <label>Data Final</label>
                        <input type="date" formControlName="DataF">
                    </div>
                    <div class="bt form-field">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i> Consultar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="area-2">
            <data-table optionComponent="1" [displayedColumns]="displayedColumns" [dataSource]="dataSource" (itemAtual)="editItem($event)"></data-table>
        </div>
    </div>
    <div [ngClass]="aplicarCssTela(2)">
        <div class="area-1">
            <div class="formulario">
                <form [formGroup]="formulario" id="form01">
                    <div class="form-field">
                        <label>Nome Fantasia</label>
                        <input type="text" formControlName="NomeFantasia">
                    </div>
                    <div class="form-field">
                        <label>Razão Social</label>
                        <input type="text" formControlName="RazaoSocial">
                    </div>
                    <div class="form-field">
                        <label>Cnpj</label>
                        <input type="text" formControlName="Cnpj" maxlength="18" (keyup)="formatDoc($event.target.value)">
                    </div>
                    <div class="form-field">
                        <label>Cep</label>
                        <input type="text" formControlName="Cep" maxlength="9" (keyup)="buscaCep($event.target.value)">
                    </div>
                    <div class="form-field">
                        <label>Logradouro</label>
                        <input type="text" formControlName="Logradouro">
                    </div>
                    <div class="form-field">
                        <label>Bairro</label>
                        <input type="text" formControlName="Bairro">
                    </div>
                    <div class="form-field">
                        <label>Número</label>
                        <input type="text" formControlName="Num">
                    </div>
                    <div class="form-field">
                        <label>Complemento</label>
                        <input type="text" formControlName="Complemento">
                    </div>
                    <div class="form-field">
                        <label>Estado:</label>
                        <select formControlName="Estado" (change)="changeCidades($event.target.value)"> 
                                    <option *ngFor="let estado of lstEstados" [value]="estado.Id">{{estado.Nome}}</option>
                                </select>
                    </div>
                    <div class="form-field">
                        <label>Cidade:</label>
                        <select formControlName="Cidade"> 
                                    <option *ngFor="let cidade of lstCidades" [value]="cidade.Id">{{cidade.Nome}}</option>
                                </select>
                    </div>
                    <div class="form-field">
                        <label>Telefone</label>
                        <input type="text" formControlName="Telefone">
                    </div>
                    <div class="form-field">
                        <label>E-mail</label>
                        <input type="text" formControlName="Email">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>