$color-primary: #173B4D;
$color-secondary:#ddf;
$color-green:#00C853;
$color-red:#F44336;
$color-font-1:rgb(56, 50, 50);
$color-font-2:#666;
$color-light:#d1d1d1;
$color-light2:rgba(222, 222, 222, 0.2);
$color-orange:#FF7F00;
$color-light3:rgba(255, 255, 255, 0.85);
$color-trasparet:rgba(21, 10, 26, 0.8);
$color-border: #adadad;
// below defines your custom color to build a theme palette from
$my-color-primary: ( 50: #173B4d, 100: #173B4D, 200: grey, 300: #173B4D, 400: #173B4D, 500: #173B4D, 600: #173B4D, 700: #173B4D, 800: #173B4D, 900: #173B4D, A100: #173B4D, A200: #173B4D, A400: #173B4D, A700: #173B4D, contrast: ( 50: white, 100: white, 200: white, 300: white, 400: white, 500: white, 600: white, 700: white, 800: white, 900: white, A100: white, A200: white, A400: white, A700: white, ));