<div class="container" *ngIf="session.Sucesso">
    <div class="topo">
        <div class="bts">
            <button type="button" matTooltip="Novo" [ngClass]="aplicarCssBt(1)" (click)="newItem()"> <i class="fa fa-plus" aria-hidden="true"></i> </button>
            <button type="submit" matTooltip="Salvar" [ngClass]="aplicarCssBt(2)" (click)="saveItem()" [disabled]="!formulario.valid && !editando" form="form01"> <i class="fa fa-floppy-o"></i> </button>
            <button type="button" matTooltip="Deletar" [ngClass]="aplicarCssBt(4)" (click)="delItem()"> <i class="fa fa-times"></i> </button>
            <button type="button" matTooltip="Anterior" [ngClass]="aplicarCssBt(3)" (click)="prev()"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </button>
        </div>
        <div class="load">
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div [ngClass]="aplicarCssTela(1)">
        <div class="area-1">
            <div class="formulario">
                <form [formGroup]="formulario1" (submit)="onSubmitForm01($event)">
                    <div class="form-field">
                        <label>Descrição</label>
                        <input type="text" formControlName="Descricao">
                    </div>
                    <div class="form-field">
                        <label>Data Inicial</label>
                        <input type="date" formControlName="DataI">
                    </div>
                    <div class="form-field">
                        <label>Data Final</label>
                        <input type="date" formControlName="DataF">
                    </div>
                    <div class="form-field">
                        <label>Empresa</label>
                        <select formControlName="EmpresaId">
                            <option *ngFor="let option of empresas"  [value]="option.Id">{{option.NomeFantasia}}</option>
                        </select>
                    </div>
                    <div class="bt form-field">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i> Consultar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="area-2">
            <data-table optionComponent="2" [displayedColumns]="displayedColumns" [dataSource]="dataSource" (itemAtual)="editItem($event)"></data-table>
            <paginator [length]="totPages" (mudouPage)="changePage($event)"></paginator>
        </div>
    </div>
    <div [ngClass]="aplicarCssTela(2)">
        <div class="area-1">
            <div class="formulario">
                <form [formGroup]="formulario" id="form01">
                    <div class="form-field">
                        <label>Descricao</label>
                        <input type="text" formControlName="Descricao">
                    </div>
                    <div class="form-field">
                        <label>Preço</label>
                        <input type="number" formControlName="Preco">
                    </div>
                    <div class="form-field">
                        <label>Categoria</label>
                        <select formControlName="CategoriaId">
                            <option *ngFor="let option of categorias" [value]="option.Id">{{option.Descricao}}</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label>Empresa</label>
                        <select formControlName="EmpresaId">
                            <option *ngFor="let option of empresas" [value]="option.Id">{{option.NomeFantasia}}</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label>Validade</label>
                        <input type="date" formControlName="Validade">
                    </div>
                    <div class="maior-field form-field">
                        <label>Imagem</label>
                        <input type="file" formControlName="Imagem" (change)="fileChange($event.target.files)">
                    </div>
                    <div class="imagem-change">
                        <img *ngIf="activeImg" [src]="servidor.mapUrl(model.Imagem.Path)">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>