@import '../../styles/cores.scss';
.container-msg {
    width: 100%;
    min-height: 35px;
    display: none;
    float: left;
    &.active {
        display: block;
    }
    .msg {
        display: block;
        float: left;
        width: 100%;
        span {
            font-size: 20px;
            color: $color-font-1;
            font-weight: bold;
        }
    }
}